<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,700,500' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.css">
    <title>To Do List</title>
</head>
<body>
    <div id="container">
        <h1>Task List <i class="fa fa-plus"></i></h1>
        <form action="/" method="post">
            <input type="text" name="taskName" id="taskPicker" placeholder="Add New Task">
        </form>
        <ul>
            <% for (let task of tasks) { %>
              <li> <%= task %></li>
            <% } %>
        </ul>
    </div>
    <script src="./todos.js"></script>
</body>
</html>